@font-face {
	font-family: "Rubik";
	src: url("fonts/rubik.ttf") format("truetype"),
		 url("fonts/rubik.woff") format("woff");
}

@font-face {
    font-family: "Zekton";
    src: url("fonts/zekton.ttf") format("truetype"),
		 url("fonts/zekton.woff") format("woff");
}

@font-face {
    font-family: "Good Times";
    src: url("fonts/good_times.ttf") format("truetype"),
         url("fonts/good_times.woff") format("woff");
}


/* fonts */

body, #pictureSelect {
	font-family: "Rubik", sans-serif;
}

button, fieldset legend {
	font-family: "Zekton", sans-serif;
	font-weight: bold;
}

h1 {
	font-family: "Good Times", sans-serif;
}


/* user input */

#inputContainer {
	display: flex; 
	flex-flow: row nowrap; 
	align-items: center; 
	margin-bottom: 10px;
}

#captForm {
	margin-right: 60px; 
	margin-bottom: 0px; 
	min-width: 360px;
}

fieldset {
	border: 2px solid #0A701D; 
	border-radius: 8px;
}

input, .inputContainer {
	margin-bottom: 5px;
}

.hBox {
	display: flex;
	flex-flow: row nowrap;
}

button {
	margin: 10px 10px 0px 5px;
}

#preview {
	height: 100px;
}


/* results */

#resultContainer {
	display: flex; 
	flex-flow: column nowrap; 
	height: 65%;
}
