@font-face {
	font-family: "SourceSansPro";
	src: url("fonts/SourceSansPro.ttf") format("truetype");
}

body, #pictureSelect {
	font-family: SourceSansPro, sans-serif;
}

@font-face {
    font-family: "Zekton";
    src: url("fonts/zekton.ttf") format("truetype");
}


#uploadButton, fieldset legend {
	font-family: "Zekton", sans-serif;
	font-weight: bold;
}

@font-face {
    font-family: "GoodTimes";
    src: url("fonts/good_times.ttf") format("truetype"),
         url("fonts/good_times.woff") format("woff"),
         url("fonts/good_times.otf") format("otf");
}

h1 {
	font-family: GoodTimes, sans-serif;
}

#inputContainer {
	display: flex; 
	flex-flow: row nowrap; 
	align-items: center; 
	margin-bottom: 10px;
}

#captForm {
	margin-right: 60px; 
	margin-bottom: 0px; 
	min-width: 360px;
}

fieldset {
	border: 2px solid #0A701D; 
	border-radius: 8px;
}

input {
	margin-bottom: 5px;
}

.inputContainer {
	margin-bottom: 5px;
}

#uploadButton {
	margin: 10px 0px 0px 5px;
}

#preview {
	height: 100px;
}

#resultContainer {
	display: flex; 
	flex-flow: column nowrap; 
	height: 65%;
}


