<html>
	<head>
		<meta charset="UTF-8">
		<link rel="icon" href="{{ url_for('static', filename='astatine-logo.ico') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<meta property="og:description" content="Online Image Captioning Tool" />
		<meta property="og:title" content="Astatine" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="{{ url_for('static', filename='astatine-logo.png') }}" />
		<title>Astatine - Image Captioning V1.0</title>
	</head>
	
	<body>
		<h1>Astatine web interface for image captioning</h1>
		<div id="inputContainer">
			<form id="captForm" method="post">
				<fieldset>
					<legend>Image to be captioned</legend>
						<div class="inputContainer">
							<input type="file" accept="image/*" name="image" id="pictureSelect" />
						</div>
						<div class="inputContainer">
							<input type="radio" id="radioCapt" name="endpointRadio" value="resnet" checked>
							<label for="radioCapt">Resnet</label>
							<br/>
							<input type="radio" id="radioYolo" name="endpointRadio" value="yolo">
							<label for="radioYolo">Yolo</label>
						</div>
						<div class="inputContainer">
							<input type="checkbox" id="check" name="send_result" />
							<label for="check" id="checkLabel">Send result image with boxes</label>
						</div>
						<button id="uploadButton" name="upload" type="submit"disabled>Upload</button>
				</fieldset>
			</form>
			<img id="preview"/>
		</div>
		<div id='resultContainer'>
			<h2 id="caption"></h2>
			<img id="boxes"/>
		</div>
		
		<!--script src="../static/script.js"-->
		<script src="{{ url_for('static', filename='script.js') }}"></script>
	</body>

</html>
